---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: archive
  order: 2
---

<section class="content-780">
  <h1>archive</h1>

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</section>
